@charset "UTF-8";

h2 {
	padding-top: 20px;
	width: 960px;
	text-align: left;
	font-size: 22px;
	color: white;
	background: fuchsia;
}

.menu_ {
	/* width: 960px; */
}

.image_box {
	background: aqua;
}

.image_list {
	margin: 0 auto;
	width: 400px;
	height: 250px;
	margin-top: 10px;
	background: yellow;
}
/* 
.image {
	width: 400px;
	height: 250px;
}

.name {
	margin: 0 auto;
	width: 400px;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-bottom: 10px;
	background: lime;
} */

.name:hover {
	cursor: pointer;
}

.num_page {
	background: aqua;
	margin: 0 auto;
}

.num {
	background: green;
}

.photo {
	margin-left: auto;
	margin-bottom: 10px;
}

.photo_btn {
	width: 100px;
	height: 25px;
	font-size: 15px;
}