@charset "UTF-8";

.body_title {
	float: left;
	margin-top: 80px;
	padding-bottom: 30px;
}

.container .body-container .body_title h2 {
	color: white;
	font-size: 22px;
}

.menu {
	font-size: 18px;
	font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
}

.menu_list {
	width: 700px;
	border-spacing: 0;
	border-collapse: collapse;
	margin: 0 auto;
	color: white;
}

.title {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	height: 45px;
}

.name {
	/* background: #d2d2d2; */
	width: 150px;
	padding: 5px;
}

.write {
	width: 550px;
	text-align: left;
}

.write input {
	margin-left: 10px;
	width: 250px;
	height: 25px;
}

.write select {
	margin-left: 10px;
	width: 250px;
	height: 25px;
}

.btn_box {
	margin: 0 auto;
	margin-top: 25px;
}

.btn {
	width: 100px;
	font-size: 15px;
	margin: 0 auto;
}