@charset "UTF-8";


.qna-subject {
	padding-top: 20px;
	color: white;
	margin: 0 auto;
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	width: 960px;
	padding-bottom: 20px;
}

.qna-holdmenu{
	margin: 0 auto;
	width: 960px;
	height: 40px;
	border-bottom: 3px solid white;
}

.qna-input{
	margin: 0 auto;
	width: 960px;
	height: 40px;
	border-collapse: collapse;
}

.qna-sub {
	border-bottom: 1px solid white;
	height:40px;
	
}

.qna-num{
	color: white;
	width: 100px;
	text-align: center;
}

.qna-title{
	color: white;
	width: 300px;
	padding-left: 10px;
}
.qna-title a {
	color: white;
}

.qna-writer{
	color: white;
	width: 160px;
	text-align: center;
}

.qna-date{
	color: white;
	width: 200px;
	text-align: center;
}

.qna-reply{
	color: white;
	width: 100px;
	text-align: center;
}

.qna-hit{
	color: white;
	width: 100px;
	text-align: center;
}

.qna-last{
	margin-top: 15px;
	color: white;
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	width: 960px;
	margin-bottom: 15px;
}

.qna-last button {
	width: 60px;
	height: 30px;
}

.qna-last select {
	width: 60px;
	height: 30px;
}

.qna-last input{
	width: 180px;
	height: 30px;
}


.qna-last a{
	color: white;
}

.qna-last a:hover{
	text-decoration: none;
}